<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="21px" viewBox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 505</title>
    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Product-Alt-Notifications" transform="translate(-835.000000, -777.000000)" stroke="#08B77D">
            <g id="Group-505" transform="translate(835.000000, 777.000000)">
                <path d="M0.5,18.5 L3.5,18.5 C3.5,18.5 5.275,13.072 5.5,10.5 C4.708,9.75 0.5,9.5 0.5,9.5 L0.5,18.5 L0.5,18.5 Z" id="Stroke-491"></path>
                <path d="M16.5,16 L20.331,15.042 C21.598,14.725 22.916,15.331 23.5,16.5 L18,19 C13.833,20.708 13.484,20.75 11.5,20 L4,17.5" id="Stroke-493"></path>
                <path d="M5.5,11.5 L14.5,13.5 C15.835,13.834 16.5,14.466 16.5,15.842 L16.5,16 L15.154,16.336 C14.723,16.444 14.274,16.455 13.838,16.368 L9.5,15.5" id="Stroke-495"></path>
                <path d="M21.5,9.5 C21.5,11.157 20.157,12.5 18.5,12.5 C16.843,12.5 15.5,11.157 15.5,9.5 C15.5,7.843 16.843,6.5 18.5,6.5 C20.157,6.5 21.5,7.843 21.5,9.5 L21.5,9.5 Z" id="Stroke-497"></path>
                <line x1="18.5" y1="8.5" x2="18.5" y2="10.5" id="Stroke-499"></line>
                <path d="M15.5,3.5 C15.5,5.157 14.157,6.5 12.5,6.5 C10.843,6.5 9.5,5.157 9.5,3.5 C9.5,1.843 10.843,0.5 12.5,0.5 C14.157,0.5 15.5,1.843 15.5,3.5 L15.5,3.5 Z" id="Stroke-501"></path>
                <line x1="12.5" y1="2.5" x2="12.5" y2="4.5" id="Stroke-503"></line>
            </g>
        </g>
    </g>
</svg>