{%- if template.name == 'index' -%}
  <h1 class="hd-Banner_Logo">
{%- else -%}
  <div class="hd-Banner_Logo">
{%- endif -%}

<a class="hd-Banner_LogoLink" href="/" itemprop="url" aria-label="{{ shop.name }}">
  {%- render 'bao-danetti-logo' -%}
</a>

{%- if template.name == 'index' -%}
  </h1>
{%- else -%}
  </div>
{%- endif -%}
