<ul class="prd-Colours_Items">
  {%- for colour_title in product.metafields.colours_item.title -%}
    {%- liquid
      assign aria_status = 'aria-current="false"'
      assign colour_handle = colour_title | handleize
      assign cur_colour_handle = cur_colour | handleize
      assign product_colour_handle = product.metafields.colours.product_colour | handleize
      assign product_link = product.url | remove: product_colour_handle | append: colour_handle
      if colour_handle == cur_colour_handle
        assign aria_status = 'aria-current  ="true"'
      endif 
    -%}

    <li class="prd-Colours_Item">
      <a href="{{ product_link }}" class="prd-Colours_Button {% if product.metafields.colours_item.add_border[forloop.index0] == 'true' %}prd-Colours_Button-border{% endif %}" style="--Swatch_Color:{{ product.metafields.colours_item.hex[forloop.index0] }}" {{ aria_status }}></a>
    </li>
  {%- endfor -%}
</ul>