<div class="prd-Tag{% if light_text %} prd-Tag-light{% endif %}{% if label_border %} prd-Tag-borderLight{% endif %}"{% if hex != blank %} style="--Tag_Background: {{ hex }}; --"{% endif %}>
  {{ text }}
</div>
