/*
|--------------------------------------------------------------------------
| Klaviyo overrides
|--------------------------------------------------------------------------
|
*/
/* stylelint-disable */
.art-Newsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0,
.art-Newsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0:focus,
.art-Newsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0:active, 
.blg-AsideNewsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0,
.blg-AsideNewsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0:focus,
.blg-AsideNewsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0:active {
  padding-bottom: 2px !important;
  font-family: var(--Font_Family-aktivGrotesk) !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  background-color: transparent !important;
  border-color: var(--Color_Brand) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.art-Newsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0::placeholder,
.art-Newsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0:focus::placeholder,
.art-Newsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0:active::placeholder, 
.blg-AsideNewsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0::placeholder,
.blg-AsideNewsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0:focus::placeholder,
.blg-AsideNewsletter .TextInput__FormStyledTextInput-sc-1o6de9f-0:active::placeholder {
  font-size: 12px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  color: #8e8e8e !important;
}
.art-Newsletter .Button__FormStyledButton-p2mbjt-0,
.blg-AsideNewsletter .Button__FormStyledButton-p2mbjt-0 {
  --Button_Background: var(--Color_Brand) !important;
  --Button_Color: #fff !important;
  --Button_HoverBackground: var(--Color_Anchor) !important;
  --Button_HoverColor: #fff !important;
  z-index: 1 !important;
  height: 25px !important;
  padding: 10px !important;
  font-family: var(--Font_Family-aktivGrotesk) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  letter-spacing: 1.5px !important;
  text-transform: uppercase !important;
  border: 0 !important;
  color: var(--Button_Color) !important;
  cursor: pointer !important;
  overflow: hidden !important;
  transition: color 0.3s ease !important;
}
.art-Newsletter .Button__FormStyledButton-p2mbjt-0::before,
.blg-AsideNewsletter .Button__FormStyledButton-p2mbjt-0::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: -2 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: var(--Button_Background) !important;
  cursor: pointer !important;
}
.art-Newsletter .Button__FormStyledButton-p2mbjt-0::after,
.blg-AsideNewsletter .Button__FormStyledButton-p2mbjt-0::after {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: var(--Button_HoverBackground) !important;
  cursor: pointer !important;
  transform: scaleY(0) !important;
  transform-origin: 0 -1% !important;
  transition: transform 0.3s ease !important;
}
.art-Newsletter .Button__FormStyledButton-p2mbjt-0[disabled],
.blg-AsideNewsletter .Button__FormStyledButton-p2mbjt-0[disabled] {
  cursor: not-allowed !important;
  opacity: 0.3 !important;
}
.art-Newsletter .Button__FormStyledButton-p2mbjt-0:not([disabled]):hover,
.blg-AsideNewsletter .Button__FormStyledButton-p2mbjt-0:not([disabled]):hover {
  color: var(--Button_HoverColor) !important;
  &::after {
    transform: none !important;
    transform-origin: 0 101% !important;
    transition: transform 0.4s ease !important;
  }
}
.art-Newsletter .ql-font-helvetica,
.blg-AsideNewsletter .ql-font-helvetica {
  font-family: var(--Font_Family-sentinel) !important;
  font-weight: 400 !important;
  letter-spacing: 0.35px !important;
  color: var(--Color_Body) !important;
}
.cFzKWL.cFzKWL .kgtZbf.kgtZbf {
  padding-right: 25px;
  padding-left: 25px;
}
.cFzKWL.cFzKWL .kgtZbf.kgtZbf:first-of-type {
  padding-right: 0;
  padding-left: 0;
}
.cFzKWL.cFzKWL .Ndwyt.Ndwyt {
  box-sizing: border-box;
  width: 100%;
}
.cFzKWL.cFzKWL .kvcQJV.kvcQJV {
  width: 25px;
  height: 25px;
}
.cFzKWL.cFzKWL .kvcQJV.kvcQJV img {
  visibility: none;
}
.cFzKWL.cFzKWL .kvcQJV.kvcQJV::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M8.595 8l7.28-7.281a.422.422 0 000-.597.423.423 0 00-.595 0L8 7.404.717.122A.422.422 0 00.123.72l7.28 7.28-7.28 7.281a.422.422 0 000 .596.422.422 0 00.596 0L8 8.595l7.28 7.281a.422.422 0 00.597-.596L8.597 8h-.002z' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
}
.cFzKWL.cFzKWL .kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1 .ql-editor {
  overflow-y: unset;
}
.cFzKWL.cFzKWL .dMHKxR.dMHKxR {
  margin-bottom: 15px;
}
.cFzKWL.cFzKWL .dMHKxR.dMHKxR p {
  font-family: var(--Font_Family-body);
  font-size: 14px;
  line-height: 20px;
  color: #8e8e8e;
}
.cFzKWL.cFzKWL .iqWVmr.iqWVmr {
  padding: 0 !important;
}
.cFzKWL.cFzKWL .iqWVmr.iqWVmr p {
  font-family: var(--Font_Family-ballingerXCondensed) !important;
  font-size: 35px !important;
  font-weight: 700 !important;
  line-height: 35px !important;
}

.cFzKWL.cFzKWL .TextInput__FormStyledTextInput-sc-1o6de9f-0,
.cFzKWL.cFzKWL .TextInput__FormStyledTextInput-sc-1o6de9f-0:focus,
.cFzKWL.cFzKWL .TextInput__FormStyledTextInput-sc-1o6de9f-0:active {
  padding-bottom: 2px !important;
  font-family: var(--Font_Family-aktivGrotesk) !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  background-color: transparent !important;
  border-color: var(--Color_Brand) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.cFzKWL.cFzKWL .TextInput__FormStyledTextInput-sc-1o6de9f-0::placeholder,
.cFzKWL.cFzKWL .TextInput__FormStyledTextInput-sc-1o6de9f-0:focus::placeholder,
.cFzKWL.cFzKWL .TextInput__FormStyledTextInput-sc-1o6de9f-0:active::placeholder {
  font-size: 12px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  color: #8e8e8e !important;
}
.cFzKWL.cFzKWL .Button__FormStyledButton-p2mbjt-0 {
  --Button_Background: var(--Color_Brand) !important;
  --Button_Color: #fff !important;
  --Button_HoverBackground: var(--Color_Anchor) !important;
  --Button_HoverColor: #fff !important;
  z-index: 1 !important;
  height: 25px !important;
  padding: 10px !important;
  font-family: var(--Font_Family-aktivGrotesk) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  letter-spacing: 1.5px !important;
  text-transform: uppercase !important;
  border: 0 !important;
  color: var(--Button_Color) !important;
  cursor: pointer !important;
  overflow: hidden !important;
  transition: color 0.3s ease !important;
}
.cFzKWL.cFzKWL .Button__FormStyledButton-p2mbjt-0::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: -2 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: var(--Button_Background) !important;
  cursor: pointer !important;
}
.cFzKWL.cFzKWL .Button__FormStyledButton-p2mbjt-0::after {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: var(--Button_HoverBackground) !important;
  cursor: pointer !important;
  transform: scaleY(0) !important;
  transform-origin: 0 -1% !important;
  transition: transform 0.3s ease !important;
}
.cFzKWL.cFzKWL .Button__FormStyledButton-p2mbjt-0[disabled] {
  cursor: not-allowed !important;
  opacity: 0.3 !important;
}
.cFzKWL.cFzKWL .Button__FormStyledButton-p2mbjt-0:not([disabled]):hover {
  color: var(--Button_HoverColor) !important;
}
.cFzKWL.cFzKWL .Button__FormStyledButton-p2mbjt-0:not([disabled]):hover::after {
  transform: none !important;
  transform-origin: 0 101% !important;
  transition: transform 0.4s ease !important;
}
.cFzKWL.cFzKWL .iuozQt.iuozQt {
  margin-right: 0;
  font-family: var(--Font_Family-body);
  font-size: 14px;
  line-height: 20px;
  color: #8e8e8e;
}
.cFzKWL.cFzKWL .SelectorOuter__StyledOuter-sc-1bzxisr-0 {
  stroke: rgb(180, 187, 195);
}
.cFzKWL.cFzKWL .SelectorInner__StyledInner-sc-1g8mcs6-0 circle {
  fill: var(--Color_Brand);
}
.cFzKWL.cFzKWL .eGSHMQ.eGSHMQ {
  margin-top: 25px;
  margin-bottom: 15px;
}
.cFzKWL.cFzKWL .euOKup.euOKup {
  margin-bottom: 30px;
}
.sec-Newsletter_Form .needsclick .go3831211290 {
  padding: 16px 25px !important;
  text-transform: uppercase;
}
.sec-Newsletter_Form label {
  padding-top: 20px;
}
.sec-Newsletter_Form .needsclick .kl-private-reset-css-Xuajs1 div:last-child {
  font-family: var(--Font_Family-sentinel) !important;
  font-size: 14px !important;
  line-height: 20px !important;

  color: #8e8e8e !important;
}
/* stylelint-enable */
@media screen and (min-width: 768px) {
  .cFzKWL.cFzKWL .kgtZbf.kgtZbf {
    padding-right: 0;
    padding-left: 0;
  }
  .cFzKWL.cFzKWL .Ndwyt.Ndwyt {
    width: 50%;
    padding: 80px 40px 30px;
  }
  .cFzKWL.cFzKWL .dMHKxR.dMHKxR {
    margin-bottom: 35px;
  }
  .cFzKWL.cFzKWL .eGSHMQ.eGSHMQ {
    margin-top: 75px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 901px) {
  .cFzKWL.cFzKWL .iqWVmr.iqWVmr p {
    font-size: 45px !important;
    line-height: 45px !important;
  }
}