/*
|--------------------------------------------------------------------------
| Utils
|--------------------------------------------------------------------------
| @namespace: util-
|
*/
.util-ScreenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
.util-Hide {
  display: none;
}
/*
|--------------------------------------------------------------------------
| Faux link
|--------------------------------------------------------------------------
|
*/
.util-FauxLink {
  position: relative;
}
.util-FauxLink_Link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.grid_container,
.lyt-Container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(var(--Grid_Gut
  ter) / 2);
  padding-left: calc(var(--Grid_Gutter) / 2);
}
.util-ScreenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
.util-SetHeight {
  height: 100vh;
}
.lyt-Site {
  overflow-x: hidden;
  /* Prefer to use the actual term for it (iOS) */
  /* stylelint-disable selector-class-pattern */
  /* stylelint-enable */
}
.lyt-Site.util-SiteOverflowed {
  overflow: hidden;
}
.lyt-Site.util-SiteOverflowed.is-iOS {
  position: fixed;
  width: 100%;
  isolation: isolate;
}
.lyt-Container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(var(--Grid_Gutter) / 2);
  padding-left: calc(var(--Grid_Gutter) / 2);
}

.btn-Primary {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 8px 30px 9px;
  font-family: var(--Font_Family-aktivGrotesk);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  overflow: hidden;
  --Button_Background: var(--Color_Brand);
  --Button_Color: #fff;
  --Button_HoverBackground: var(--Color_Anchor);
  --Button_HoverColor: #fff;
  border: 0;
  color: var(--Button_Color);
  transition: color 0.3s ease;

}
.btn-Primary::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: var(--Button_Background);
}
.btn-Primary::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--Button_HoverBackground);
  transform: scaleY(0);
  transform-origin: 0 -1%;
  transition: transform 0.3s ease;
}
.btn-Primary[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.clc-Card:hover .btn-Primary,
.sec-Hero_Carousel:hover .btn-Primary,
.hd-NavPromo:hover .btn-Primary,
.btn-Primary:not([disabled]):hover {
  color: var(--Button_HoverColor);

  
}
.clc-Card:hover .btn-Primary::after,
.sec-Hero_Carousel:hover .btn-Primary::after,
.hd-NavPromo:hover .btn-Primary::after,
.btn-Primary:not([disabled]):hover::after {
  transform: none;
  transform-origin: 0 101%;
  transition: transform 0.4s ease;
}

.btn-Secondary {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 8px 30px 9px;
  font-family: var(--Font_Family-aktivGrotesk);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  overflow: hidden;
  --Button_Background: #c2002f;
  --Button_Color: #fff;
  --Button_HoverBackground: var(--Color_Brand);
  --Button_HoverColor: #fff;
  border: 1px solid var(--Button_Border);
  color: var(--Button_Color);
  transition: border 0.4s ease, color 0.4s ease;
}
.btn-Secondary::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 102%;
  height: 100%;
  background-color: var(--Button_HoverBackground);
  transform: scaleY(0);
  transform-origin: 0 -1%;
  transition: transform 0.3s ease;
}
.prd-DoubleCta_Item:hover .btn-Secondary,
.sec-CtaGrid_Item:hover .btn-Secondary,
.btn-Secondary:not([disabled]):hover {
  border-color: var(--Button_HoverBorder);
  color: var(--Button_HoverColor);
}
.prd-DoubleCta_Item:hover .btn-Secondary::after,
.sec-CtaGrid_Item:hover .btn-Secondary::after,
.btn-Secondary:not([disabled]):hover::after {
  transform: none;
  transform-origin: 0 101%;
  transition: transform 0.4s ease;
}
.btn-Tertiary {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 8px 30px 9px;
  font-family: var(--Font_Family-aktivGrotesk);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  overflow: hidden;
  --Button_Background: var(--Color_Anchor);
  --Button_Color: #fff;
  --Button_HoverBackground: #fff;
  --Button_HoverColor: var(--Color_Brand);
  border: 0;
  color: var(--Button_Color);
  transition: color 0.3s ease;
}
.btn-Tertiary::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: var(--Button_Background);
}
.btn-Tertiary::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--Button_HoverBackground);
  transform: scaleY(0);
  transform-origin: 0 -1%;
  transition: transform 0.3s ease;
}
.btn-Tertiary[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}
.clc-Card:hover .btn-Tertiary,
.sec-Hero_Carousel:hover .btn-Tertiary,
.hd-NavPromo:hover .btn-Tertiary,
.btn-Tertiary:not([disabled]):hover {
  color: var(--Button_HoverColor);
}
.clc-Card:hover .btn-Tertiary::after,
.sec-Hero_Carousel:hover .btn-Tertiary::after,
.hd-NavPromo:hover .btn-Tertiary::after,
.btn-Tertiary:not([disabled]):hover::after {
  transform: none;
  transform-origin: 0 101%;
  transition: transform 0.4s ease;
}
/*
|--------------------------------------------------------------------------
| Responsive image
|--------------------------------------------------------------------------
| @namespace: rsp
|
*/
.rsp-Image {
  position: relative;
  display: flex;
  width: 100%;
}

@supports (aspect-ratio: 16 / 9) {
  .rsp-Image_Image {
    height: auto;
    object-fit: cover;
  }
}
@supports not (aspect-ratio: 16 / 9) {
  .rsp-Image::after {
    content: '';
    display: block;
    width: 0;
    padding-top: var(--Image_AspectRatio);
  }
  .rsp-Image_Image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.rsp-Image_Metafield::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: var(--Image_AspectRatio);
}
.rsp-Image_MetafieldImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/*
|--------------------------------------------------------------------------
| Responsive image overrides
|--------------------------------------------------------------------------
*/
.prd-ProductJourneyVariants_Image .rsp-Image,
.prd-SwatchCard_Image .rsp-Image {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.prd-ProductJourneyVariants_Image .rsp-Image_Image,
.prd-SwatchCard_Image .rsp-Image_Image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
| @namespace: sec-Section
|
*/
.sec-Section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--StyleBackground);
  border-top: 1px solid var(--Color_Border);
}
.sec-Section-solid {
  background-color: #fff;
}
.sec-Section-noborder {
  padding-top: 0;
  border-top: 0;
}
.sec-Section-noBorder {
  border-top: 0;
}
.sec-Section-flush {
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;
}
.sec-Section-overflowHidden {
  overflow: hidden;
}
.sec-Section_Header {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.sec-Section_Header-left {
  text-align: left;
}
.sec-Section_Logo {
  display: flex;
  width: 42px;
  height: 42px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}
.sec-Section_Logo svg {
  fill: var(--ThemeColor_Subtitle);
  transition: color 0.5s ease;
}
.sec-Section-solid .sec-Section_Logo svg {
  fill: var(--Color_Anchor);
  transition: color 0.5s ease;
}
.sec-Section_Title {
  font-family: var(--Font_Family-ballingerXCondensed);
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  color: var(--ThemeColor_Title);
  transition: color 0.5s ease;
}
.sec-Section-solid .sec-Section_Title {
  color: var(--Color_Brand);
}
.sec-Section_Title-left {
  text-align: left;
}
.sec-Section_Subtitle {
  margin-top: 10px;
  font-style: italic;
  font-weight: 400;
  color: var(--ThemeColor_Subtitle);
  transition: color 0.5s ease;
}
.sec-Section-solid .sec-Section_Subtitle {
  color: var(--Color_Anchor);
}
.sec-Section_Subtitle-dark {
  color: var(--Color_Body);
}
.sec-Section_Subtitle-left {
  text-align: left;
}
.sec-Section_Text {
  margin-top: 20px;
}
.sec-Section_Price {
  font-size: 14px;
  line-height: 20px;
  margin-top: 25px;
  font-family: var(--Font_Family-aktivGrotesk);
  font-weight: 600;
  color: var(--ThemeColor_Title);
}
.sec-Section_Footer {
  margin-top: 40px;
  text-align: center;
}
.sec-Section_Html svg {
  display: inline;
  width: 18px;
  height: 18px;
  vertical-align: sub;
}
.sec-Style-standard {
  --ThemeColor_Title: var(--Color_Brand);
  --ThemeColor_Subtitle: var(--Color_Anchor);
  --ThemeColor_Content: var(--Color_Body);
  --ThemeColor_ButtonBorder: var(--Color_Border);
  --ThemeColor_ButtonHover: #fff;
}
.sec-Style-white {
  --ThemeColor_Title: #fff;
  --ThemeColor_Subtitle: #fff;
  --ThemeColor_Content: #fff;
  --ThemeColor_ButtonBorder: #fff;
  --ThemeColor_ButtonHover: var(--Color_Brand);
}
.sec-Style-blue {
  --ThemeColor_Title: var(--Color_Brand);
  --ThemeColor_Subtitle: var(--Color_Brand);
  --ThemeColor_Content: var(--Color_Brand);
  --ThemeColor_ButtonBorder: var(--Color_Brand);
  --ThemeColor_ButtonHover: #fff;
}

.rte-RichText p {
  margin-bottom: 25px;
}
.rte-RichText p img {
  width: 100%;
}
.rte-RichText > img {
  width: 100%;
}
.rte-RichText p + h1,
.rte-RichText p + h2,
.rte-RichText p + h3,
.rte-RichText p + h4,
.rte-RichText p + h5,
.rte-RichText p + h6,
.rte-RichText ul + h1,
.rte-RichText ul + h2,
.rte-RichText ul + h3,
.rte-RichText ul + h4,
.rte-RichText ul + h5,
.rte-RichText ul + h6,
.rte-RichText ol + h1,
.rte-RichText ol + h2,
.rte-RichText ol + h3,
.rte-RichText ol + h4,
.rte-RichText ol + h5,
.rte-RichText ol + h6 {
  margin-top: 30px;
}
.rte-RichText > blockquote {
  margin: 35px 0;
  padding: 30px;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  background-color: var(--Color_Grey-dark);
  color: var(--Color_Brand);
}
.rte-RichText > ul {
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 0;
  list-style: none;
}
.rte-RichText > ul li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
}
.rte-RichText > ul li:last-child {
  margin-bottom: 0;
}
.rte-RichText > ul li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 14px;
  height: 1px;
  background-color: currentColor;
  opacity: 0.8;
}
.rte-RichText > ol {
  counter-reset: item;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 0;
  list-style: none;
}
.rte-RichText > ol li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
}
.rte-RichText > ol li:last-child {
  margin-bottom: 0;
}
.rte-RichText > ol li::before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  text-align: left;
  background-color: transparent;
  color: var(--Color_Body);
}
.rte-RichText a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  text-decoration: underline;
}
.rte-RichText h2,
.rte-RichText h3,
.rte-RichText h4 {
  color: var(--Color_Brand);
}
.rte-RichText h2 {
  font-family: var(--Font_Family-ballingerXCondensed);
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 20px;
}
.rte-RichText h3 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  font-family: var(--Font_Family-sentinel);
  font-weight: 400;
  letter-spacing: 0.35px;
}
.rte-RichText h4 {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
  font-family: var(--Font_Family-aktivGrotesk);
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.rte-RichText table {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.rte-RichText table th {
  padding: 10px 15px;
  text-align: left;
  background-color: var(--ThemeColor_Title);
  border: 1px solid var(--ThemeColor_Title);
  color: #fff;
}
.rte-RichText table td {
  padding: 10px 15px;
  border: 1px solid var(--ThemeColor_Title);
}
.rte-RichText button {
  position: relative;
  display: inline-block;
  font-style: inherit;
  font-weight: inherit;
  background: transparent;
  border: 0;
  color: inherit;
}
.rte-RichText button::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: transform 0.3s ease;
}
.rte-RichText button:hover::after {
  transform: scaleX(0);
  transform-origin: 100% 0;
}
/* We want every first and last item to never have their relative margin */
.rte-RichText > *:first-child {
  margin-top: 0 !important;
  /* This covers cases like images */
}
.rte-RichText > *:first-child > *:first-child {
  margin-top: 0 !important;
}
.rte-RichText > *:last-child {
  margin-bottom: 0 !important;
  /* This covers cases like images */
}
.rte-RichText > *:last-child > *:last-child {
  margin-bottom: 0 !important;
}
.rte-RichText_Image {
  margin-bottom: 25px;
}
.rte-RichText_Image > img {
  width: 100%;
}
/*
|--------------------------------------------------------------------------
| Animation
|--------------------------------------------------------------------------
| @namespace: ani
|
*/
.ani-Animation_Word {
  display: inline-block;
}
.ani-Animation_Letter {
  --Transition_Delay: 0.05s;
  --Transition_Duration: 0.5s;
  display: inline-block;
  transform: translateY(20px);
  transition: transform var(--Transition_Duration) cubic-bezier(0.34, 1.56, 0.64, 1);
}
.clc-Hero_Item:nth-child(1) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 1));
}
.clc-Hero_Item:nth-child(2) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 2));
}
.clc-Hero_Item:nth-child(3) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 3));
}
.clc-Hero_Item:nth-child(4) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 4));
}
.clc-Hero_Item:nth-child(5) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 5));
}
.clc-Hero_Item:nth-child(6) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 6));
}
.clc-Hero_Item:nth-child(7) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 7));
}
.clc-Hero_Item:nth-child(8) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 8));
}
.clc-Hero_Item:nth-child(9) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 9));
}
.clc-Hero_Item:nth-child(10) .ani-Animation_Letter {
  transition-delay: calc((var(--Transition_Duration) - 0.3s) + (var(--Transition_Delay) * 10));
}
.ani-Animation_Letter-active {
  transform: none;
}
/*
|--------------------------------------------------------------------------
| Form
|--------------------------------------------------------------------------
| @namespace: frm-
|
*/
.frm-Form_Fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.frm-Form_Legend {
  display: none;
}
.frm-Form_Fields {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}
.frm-Form_Field {
  width: 100%;
  margin-top: 10px;
}
.frm-Form_Label {
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 5px;
  font-family: var(--Font_Family-aktivGrotesk);
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: var(--Color_Brand);
}
.frm-Form_Checkbox .frm-Form_Label {
  font-size: 10px;
  line-height: 18px;
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--Color_Body);
}
.frm-Form_Label-inline {
  color: var(--Color_Brand);
}
.frm-Form_Input,
.frm-Form_Textarea,
.frm-Form_Select {
  width: 100%;
  height: 46px;
  padding: 10px 15px;
  font-family: var(--Font_Family-aktivGrotesk);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  appearance: none;
  background-color: #fff;
  border: 1px solid var(--Color_Border);
  color: var(--Color_Brand);
  outline: 0;
}
.frm-Form_Input::placeholder,
.frm-Form_Textarea::placeholder,
.frm-Form_Select::placeholder {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--Color_Body);
  opacity: 1;
}
.frm-Form-dark .frm-Form_Input,
.frm-Form-dark .frm-Form_Textarea,
.frm-Form-dark .frm-Form_Select {
  background-color: transparent;
  border: 1px solid var(--Color_Brand);
}
.frm-Form_Select {
  padding-top: 0;
  padding-right: 35px;
  padding-bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 7' xmlns='http://www.w3.org/2000/svg' fill='var(--Color_Brand)'%3E%3Cpath d='M6.3 7a.48.48 0 01-.343-.147l-5.815-6a.513.513 0 010-.708.476.476 0 01.685 0l5.472 5.647L11.772.145a.476.476 0 01.685 0 .513.513 0 010 .708l-5.816 6A.475.475 0 016.298 7H6.3z' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 13px 7px;
  white-space: nowrap;
}
.frm-Form_Textarea {
  display: block;
  height: auto;
}
.frm-Form_Checkbox {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.frm-Form_Checkbox input {
  margin-top: 5px;
  margin-right: 10px;
  appearance: checkbox;
}
.frm-Form_Actions {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}
.frm-Form_Buttons {
  display: flex;
  margin-top: 10px;
}
.frm-Form_Button-wide {
  width: 100%;
}
.frm-Form_Text {
  margin-top: 10px;
}
.frm-Form_Link {
  margin-top: 10px;
  color: var(--Color_Body);
}
.frm-Form_Footer {
  margin-top: 15px;
}
.frm-Form_Submit {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .sec-Section_Header {
    width: calc((7 / 12) * 100%);
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }
  
  .sec-Section_Header-large {
    width: 100%;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }
  .sec-Section_Header-left {
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 901px) {
  .util-HideCursor {
    cursor: none;
  }
  .util-HideCursor a,
  .util-HideCursor button,
  .util-HideCursor label {
    cursor: none;
  }
  .lyt-Container {
    max-width: var(--Grid_Container);
    padding-right: calc(var(--Grid_Gutter) * 3);
    padding-left: calc(var(--Grid_Gutter) * 3);
  }

  .lyt-Container.lyt-Container-wide {
    padding-right: var(--Grid_Gutter);
    padding-left: var(--Grid_Gutter);
  }
  .sec-Section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sec-Section_Header-left {
    width: 100%;
    margin: 0 0 30px;
    padding-right: 0;
    padding-left: 0;
  }
  .sec-Section_Logo {
    width: 53px;
    height: 53px;
    margin-bottom: 40px;
  }
  .sec-Section_Title {
    font-size: 45px;
    line-height: 45px;
  }
  .rte-RichText > blockquote {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 35px 45px;
    font-size: 35px;
    line-height: 40px;
  }
  .rte-RichText h2 {
    font-size: 45px;
    line-height: 45px;
  }
  .rte-RichText h3 {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.4px;
  }
  .rte-RichText h4 {
    font-size: 15px;
    line-height: 24px;
  }
  .rte-RichText table {
    font-size: 15px;
    line-height: 24px;
  }
  .frm-Form_Footer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1201px) {
  .lyt-Container {
    padding-right: calc(var(--Grid_Gutter) * 4);
    padding-left: calc(var(--Grid_Gutter) * 4);
  }
  .sec-Section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .frm-Form_Input,
  .frm-Form_Textarea,
  .frm-Form_Select {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1441px) {
  .lyt-Container-wide {
    padding-right: calc(var(--Grid_Gutter) * 2);
    padding-left: calc(var(--Grid_Gutter) * 2);
  }
}