/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
| The global site footer that appears at the bottom of every page
|
| @namespace: ft-
|
*/
.ft-Footer {
  background-color: #fff;
  border-top: 1px solid var(--Color_Border);
}
.lyt-Site-dark .ft-Footer {
  background: var(--Color_DarkMode);
  border-top-color: rgba(255, 255, 255, 0.1);
}
.ft-Footer_Inner {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ft-Footer_Body {
  color: var(--Color_Brand);
}
.lyt-Site-dark .ft-Footer_Body {
  color: #fff;
}
.ft-Footer_Address {
  text-align: center;
}
.ft-Footer_Logo {
  width: 100px;
  height: 34px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
}
.ft-Footer_Logo svg {
  width: 100%;
  height: 100%;
  fill: var(--Color_Anchor);
}
.lyt-Site-dark .ft-Footer_Logo svg {
  fill: #fff;
}
.ft-Footer_TelNumber {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 5px;
  font-family: var(--Font_Family-aktivGrotesk);
  font-size: 16px;
  font-weight: 400;
}
.ft-Footer_TelNumber svg {
  width: 22px;
  height: 18px;
  margin-right: 10px;
}
.ft-Footer_Contact {
  margin-top: 15px;
  font-size: 13px;
  line-height: 22px;
}
.ft-Footer_Contact p {
  margin-bottom: 10px;
}
.ft-Footer_Contact a {
  font-weight: 300;
  color: var(--Color_Brand);
}
.ft-Footer_Contact a:hover {
  text-decoration: underline;
}
.ft-Footer_Icons {
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-right: calc((var(--Grid_Gutter) / 2) * -1);
  margin-left: calc((var(--Grid_Gutter) / 2) * -1);
}
/*
|--------------------------------------------------------------------------
| Footer mobile accordion
|--------------------------------------------------------------------------
| @namespace: ft-Accordion
|
*/
.ft-Accordion_Header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}
.ft-Accordion_Title {
  font-family: var(--Font_Family-aktivGrotesk);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--Color_Anchor);
}
.lyt-Site-dark .ft-Accordion_Title {
  color: #fff;
}
.ft-Accordion_Subtitle {
  margin-top: 2px;
  font-size: 14px;
  line-height: 18px;
  color: var(--Color_Body);
}
.ft-Accordion_Icon {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 30px;
  height: 20px;
}
.ft-Accordion_Icon svg {
  width: 13px;
  height: 7px;
  color: var(--Color_Brand);
  transition: transform 0.3s ease;
}
[aria-expanded='true'] .ft-Accordion_Icon svg {
  transform: rotate(180deg);
}
.ft-Accordion_Body {
  max-height: 0;
  border-bottom: 1px solid var(--Color_Border);
  overflow-y: hidden;
  transition: all 0.5s cubic-bezier(0.25, 0.5, 0.25, 0.5);
}
[aria-expanded='true'] .ft-Accordion_Body {
  max-height: 500px;
  padding-bottom: 15px;
}
.lyt-Site-dark .ft-Accordion_Body {
  border-color: rgba(255, 255, 255, 0.1);
}
/*
|--------------------------------------------------------------------------
| Copyright section
|--------------------------------------------------------------------------
| @namespace: ft-Copyright
|
*/
.ft-Copyright {
  border-top: 1px solid var(--Color_Border);
}
.lyt-Site-dark .ft-Copyright {
  border-color: rgba(255, 255, 255, 0.1);
}
.ft-Copyright_Inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ft-Copyright_Body {
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  display: flex;
}
.ft-Copyright_Text {
  font-size: 11px;
  font-weight: 300;
  color: var(--Color_Body);
}
.ft-Copyright_Cards {
  align-items: center;
  display: flex;
  margin-right: -10px;
  margin-bottom: 10px;
  margin-left: -10px;
}
.ft-Copyright_Card {
  width: 42px;
  height: 25px;
  margin-right: 5px;
  margin-left: 5px;
}
.ft-Copyright_Card svg {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}
/*
|--------------------------------------------------------------------------
| Small print
|--------------------------------------------------------------------------
|
*/
.ft-Copyright_Footer {
  margin-top: 10px;
}
.ft-Copyright_SmallText {
  font-size: 10px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  color: var(--Color_Body);
}
/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
| @namespace: .ft-
|
*/
.ft-Navigation {
  margin-top: 40px;
  border-top: 1px solid var(--Color_Border);
}
.lyt-Site-dark .ft-Navigation {
  border-color: rgba(255, 255, 255, 0.1);
}
.ft-Navigation_Link {
  position: relative;
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  line-height: 18px;
}
.ft-Navigation_Link svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.ft-Navigation_Link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--Color_Brand);
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 0.3s ease;
}
.ft-Navigation_Link:hover::before {
  transform: scaleX(1);
  transform-origin: 0 0;
}

@media screen and (min-width: 768px) {
  .ft-Footer_Body {
    justify-content: space-between;
    display: flex;
  }
  .ft-Footer_Address {
    width: calc(((1 / 2) * 100%) - 15px);
    text-align: left;
  }
  .ft-Footer_Logo {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .ft-Footer_TelNumber {
    justify-content: flex-start;
  }
  .ft-Footer_Icons {
    justify-content: flex-start;
  }
  .ft-Footer_Navigation {
    width: calc(((1 / 2) * 100%) - 15px);
  }
  .ft-Copyright_Body {
    flex-direction: row;
  }
  .ft-Copyright_Cards {
    margin-bottom: 0;
  }
  .ft-Copyright_SmallText {
    text-align: left;
  }
  .ft-Navigation {
    margin-top: 0;
    border-top: 0;
  }
}
@media screen and (min-width: 901px) {
  .ft-Footer_Inner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .ft-Footer_Address {
    width: calc((4 / 12) * 100%);
  }
  .ft-Footer_Contact {
    margin-top: 25px;
  }
  .ft-Footer_Icons {
    margin-top: 30px;
  }
  .ft-Footer_Navigation {
    width: calc(((8 / 12) * 100%) - 15px);
  }
  .ft-Copyright_Inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ft-Copyright_Text {
    font-size: 13px;
  }
  .ft-Copyright_Card {
    width: 50px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1201px) {
  .ft-Accordion_Header {
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .ft-Accordion_Subtitle {
    margin-top: 5px;
    font-size: 15px;
  }
  .ft-Accordion_Icon {
    display: none;
  }
  .ft-Accordion_Body {
    max-height: none;
    border-bottom: 0;
    overflow-y: visible;
  }
  .ft-Navigation {
    display: flex;
  }
  .ft-Navigation_Column {
    width: calc((1 / 4) * 100%);
  }
}