/*
|--------------------------------------------------------------------------
| Filters and sort drawer
|--------------------------------------------------------------------------
| @namespace: .drw-Filters
|
*/
.drw-Filters {
  --ItemPadding: 15px;
}
.drw-Filters_Item {
  border-top: 1px solid var(--Color_Border);
}
.drw-Filters-sort .drw-Filters_Item {
  margin-bottom: 10px;
  border-top: none;
}
.drw-Filters_Options {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  margin-top: 15px;
}
.drw-Filters_Option {
  margin-right: 10px;
  margin-bottom: 10px;
}
.drw-Filters_Title {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  font-family: var(--Font_Family-sentinel);
  font-weight: 400;
  letter-spacing: 0.4px;
  background: transparent;
  color: var(--Color_Brand);
}
.drw-Filters_Button {
  align-items: center;
  display: flex;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: 0;
  color: var(--Color_Body);
}
.drw-Filters_ButtonIcon {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-color: var(--Swatch_Color);
  border: 1px solid var(--Swatch_Color);
  border-radius: 50%;
  box-shadow: inset 1px 1px 2px 0 rgba(#000, 0.1);
  transition: background-color 0.5s ease;
  .drw-Filters_ButtonIcon::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--Color_Brand);
    border-radius: 50%;
    transform: scale(0);
    transition: background-color 0.5s ease, transform 0.5s ease;
  }

  .drw-Filters_Button:hover & {
    &::after {
      transform: scale(1);
    }
  }

  .drw-Filters_Button[aria-current='true'] & {
    background-color: var(--Color_Brand);

    &::after {
      background-color: #fff;

      transform: scale(1);
    }
  }

  .drw-Filters_Button-border & {
    border: 1px solid var(--Color_Border);
  }

  .drw-Filters_Button-color[aria-current='true'] & {
    background-color: var(--Swatch_Color);

    &::after {
      background-color: var(--Color_Brand);
    }
  }
}

.drw-Filters_ImageContainer {
  align-items: center;
  justify-content: center;

  display: flex;
  width: 40px;
  height: @width;

  border: 1px solid var(--Color_Border);
  border-radius: 50%;

  [aria-current='true'] & {
    border-color: var(--Color_Brand);
  }
}

.drw-Filters_Image {
  position: relative;
  top: 1px;

  width: 20px;
  height: @width;
}

.drw-FiltersItem_Header {
  align-items: center;
  justify-content: space-between;

  display: flex;

  margin-bottom: 5px;
  padding: var(--ItemPadding);

  svg {
    width: 14px;
    height: @width;

    transform: rotate(270deg);
  }
}

.drw-Filters_Items {
  padding-bottom: 70px;
  @media (--md) {
    padding-bottom: 80px;
  }
}

.drw-FiltersItem_Title {
  font-family: var(--Font_Family-sentinel);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.drw-Filters_Footer {
  display: flex;
  padding: 20px;

  border-top: 1px solid var(--Color_Border);
  .drw-Drawer-active & {
    position: fixed;
    bottom: 0;
    left: 0;

    max-width: 600px;
    width: 100%;

    background: #fff;
  }
}

.drw-Filters_Clear {
  flex-grow: 0;

  display: none;

  margin-right: 10px;
  padding-right: 15px;
  padding-left: @padding-right;
}

.drw-Filters_Clear:only-child {
  display: none;
}

.drw-Filters_Submit {
  flex-grow: 1;

  padding-right: 15px;
  padding-left: @padding-right;
}

/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
|
*/

.drw-FiltersItem_Body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  flex-direction: column;
  display: flex;
  max-width: var(--Drawer_MaxWidth);
  width: 95vw;
  background-color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-101%);
  transition: transform 0.3s;
}
.drw-FiltersItem_Header[aria-expanded='true'] + .drw-FiltersItem_Body {
  transform: none;
}
.drw-FiltersItemBody_Header {
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  display: flex;
  padding: 20px;
  background-color: var(--Color_Brand);
}
.drw-FiltersItemBody_Title {
  font-family: var(--Font_Family-ballingerXCondensed);
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
}
.drw-FiltersItemBody_Tools {
  align-items: center;
  grid-gap: 40px;
  display: flex;
}
.drw-FiltersItemBody_Button {
  position: relative;
  display: block;
}
.drw-FiltersItemBody_Back {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 25px;
  height: 25px;
  background-color: transparent;
}
.drw-FiltersItemBody_Back svg {
  fill: #fff;
}
.drw-FiltersItemBody_Close {
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  display: flex;
  width: 15px;
  height: 15px;
}
.drw-FiltersItemBody_Close svg {
  fill: #fff;
}
.drw-FiltersItemBody_Links {
  height: 100%;
}
.drw-FiltersItemBody_Body {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  height: 100%;
}
.drw-FiltersItemBody_Content {
  padding: var(--ItemPadding);
}
/*
|--------------------------------------------------------------------------
| Accordion
|--------------------------------------------------------------------------
|
*/
.drw-Filters_AccordionHeader {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.drw-Filters_AccordionIcon {
  position: relative;
  flex-shrink: 0;
  display: block;
  width: 17px;
  height: 17px;
  transition: transform 0.3s ease;
}
.drw-Filters_Item[aria-expanded='true'] .drw-Filters_AccordionIcon {
  transform: rotate(180deg);
}
.drw-Filters_AccordionIcon::before,
.drw-Filters_AccordionIcon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--ThemeColor_Title);
  transition: transform 0.3s ease;
}
.drw-Filters_AccordionIcon::after {
  transform: rotate(90deg);
}
.drw-Filters_Item[aria-expanded='true'] .drw-Filters_AccordionIcon::after {
  transform: rotate(180deg);
}
.drw-Filters_AccordionBody {
  overflow: hidden;
}
@media screen and (min-width: 901px) {
  .drw-Filters {
    --ItemPadding: 20px var(--Grid_Gutter);
  }
  .drw-Filters_Title {
    font-size: 18px;
    line-height: 22px;
  }
  .drw-FiltersItemBody_Title {
    font-size: 30px;
    line-height: 30px;
  }
}